body {
    background-color: whitesmoke;
}
/* * {
    border: 2px groove red;
 } */
.headsUp {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
}
main {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}
.headsUp img {
    border-radius: 50px;
    width: 100px;
}
.headsUp img:hover {
    flex-grow: 3;
}
.headsUp div {
    width: 10vh;
    height: 10vh;
}
.navbar-brand {
    box-sizing: border-box;
    color: rgb(34, 34, 34);
    fill: rgb(241, 100, 30);
}
main div {
    margin: auto;
}
header, footer {
    width: 90%;
    margin: auto;
    min-height: 25vh;
}

/* Navigation Bar */
nav { 
    background: white;
    margin: auto;
    border-top: 1px solid #c1c1c1;
    border-bottom: 1px solid #c1c1c1;
    padding: 5px 0;
    z-index: 1;
}
nav ul {
    margin: 0em;
    list-style: none;
}
nav li {
    display: inline-block;
    padding: 0 .5em;
}
nav a {
    font-size: .75em;
    color: #777;
    font-family: Roboto Slab;
    text-decoration: none;
}
nav a:hover {
    color: red;
}